$headerHeight: 70vh;

#instafeed {
    z-index: 999;
}

#gradient, #colorfill {
    z-index: 9998;
}

svg {
    z-index: 9999;
}

section {
  z-index: 9999;
}

main#main, header, footer {
  min-width: 500px;
}

#header-bg {
  overflow: hidden;
  height: $headerHeight;
  position: absolute;
  left: 0;
  top: 0;
  #instafeed {
    a {
      float: left; 
      width: 16.6666667%;
      line-height: 0;
      border: 0px;
      margin: 0px;
      padding: 0px;
      line-height: 0px;
      @media (max-width: 800px){
        display: block!important;
        width: 33.3333%!important;
      }
      &:hover {
        border: 0px;
      }
      img {
        line-height: 0px;
        border: 0px;
        margin: 0px;
        padding: 0px;
      }
    }
  }
  #gradient {
    position: absolute;
    height: 72vh;
    width: 100%;
    background: linear-gradient(to bottom, rgba(0,0,0,0.4) 0%,rgba(0,0,0,0.4) 75%,rgba(0,0,0,1) 100%);
  }
  #colorfill {
    position: absolute;
    height: 72vh;
    width: 100%;
    background: rgba(0,0,0,0.4);
  }
}

header {
  width: 100%;
  height: $headerHeight;
  text-align: center;
  position: absolute;
  left: 0;
  top: 0;
  @include wrapper();
  @include middle();
}
svg {
  height: $headerHeight / 1.5;
  @media (max-width: 800px) {
      max-width: 240px;
  }
  margin: auto;
  fill: #fff;
  position: relative;
  left: -3px;
}


section {
  top: $headerHeight * 0.85;
  .fb-like-box {
    width: 500px!important;
  }
  h2 {
    font-size: 180%;
    margin: fnGetSpacing(50);
    font-weight: 300!important;
  }
  p {
    color: #fff;
    margin-top: fnGetSpacing(-50)!important;
    margin-left: fnGetSpacing(100)!important;
    margin-right: fnGetSpacing(100)!important;
  }
    color: #fff;
  table {
    color: #fff;
    margin-left: fnGetSpacing(75)!important;
    margin-right: fnGetSpacing(75)!important;
    margin-bottom: fnGetSpacing(75)!important;
    width: 100%;
    font-size: 120%;
    td {
      width: 200px;
      border-bottom: #fff;
    }
  }
  .cd-timeline-content {
    padding: 0!important;
    border: 1px solid rgba(255, 255, 255, 0.2);
    iframe, img {

    }
    &:before {
    }
  }
  .cd-date {
    //margin-left: fnGetSpacing(100);
  }
  .instag {
    img {
      width: 50%;
      float: left;
    }
  }
  .instag-three-row {
    img {
      width: 33.3333%;
    }
  }
  .cd-timeline-img  {
    background: rgba(0, 0, 0, 1)!important;
    box-shadow: 0 0 0 1px #666,inset 0 2px 0 rgba(0,0,0,0.08),0 3px 0 1px rgba(0,0,0,0.05);
  }
}

@media (max-width: 1170px){
  .cd-date {
    margin-left: fnGetSpacing(100);
  }
}

.fb-like-box.fb_iframe_widget {
  display: block!important;
  @media (max-width: 640px){
    display: none!important;
  }
}

.fb-like-box.fb_iframe_widget + .fb-like-box.fb_iframe_widget {
  display: none!important;
  @media (max-width: 640px){
    display: block!important;
  }
}

.cd-timeline-content {
  .svg-content-wrapper {
  }
}

.svg-content {
  text-align: center!important;
  width: 250px!important;
  margin: auto;
    svg#logo-timeline {
    width: 250px;
      #ping-pong path {
        fill: #000;
      }
    } 
}

main#wrong-browser {
  display: block;
  float: left;
  margin: 10vh auto 0 auto;
  padding: 20px;
  max-width: 700px;
  font-size: 110%;
  h4 {
    font-size: 220%;
  }
  a {
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    &:hover {
      border-bottom: 1px solid rgba(255, 255, 255, 0.8);
    }
  }
}

footer {
  float: left;
  width: 100%;
  text-align: center;
  clear: both;
  margin: fnGetSpacing(500) 0 fnGetSpacing(100) 0;
  font-size: 90%;
  div {
    background: #000;
    border: 1px solid rgba(255, 255, 255, 0.15);
    margin: auto;
    width: 300px;
    padding: fnGetSpacing(100) fnGetSpacing(40) fnGetSpacing(100) fnGetSpacing(40);
  }
  a {
    border-bottom: 1px solid rgba(255, 255, 255, 0.2)!important;
    &:hover {
      border-bottom: 1px solid rgba(255, 255, 255, 0.8)!important;
    }
  }
}


main {
  //display: none;
}

#wrong-browser, #chrome-user {
  display: none!important;
}

main#main {
  display: block!important;
}

/*
#chrome-user {
  position: absolute;
  visibility: hidden;
}

#chrome-user + #wrong-browser {
  display: none!important;
}

#chrome-user + main#wrong-browser + main#main {
  display: block!important;
}

*/
 