$headerHeight: 600px;

$ease: all 200ms ease;

body {
  height: auto!important;
  margin: 0!important;
  padding: 0!important;
}

#instafeed {
    z-index: 999;
}

#gradient, #colorfill {
    z-index: 9998;
}

svg {
    z-index: 9999;
}

section {
  z-index: 9999;
}

#built-for {
  z-index: 9999;
  position: absolute;
  right: 0;
  top: 0;
  color: #111;
  transition: $ease;
  width: 120px;
  opacity: 0.8;
  &:hover {
    //background: rgba(255, 255, 255, 0.92);
    transition: $ease;
    opacity: 1;
    a {
      color: #111;
    }
  }
  div {
    margin: 6px 40px 6px 40px;
    float: left;
    a {
      color: #fff;
    }
    p {
      float: left;
      margin: 0 fnGetSpacing(15) 0 0;
      padding: 0;
      font-size: 80%;
    }
    img {
      width: 20px;
      float: right;
      //filter: invert(1);
      transition: $ease;
    }
  }
}

/*#fb-like-wrapper {
  opacity: 0.4;
  position: absolute;
  left: fnGetSpacing(100);
  top: fnGetSpacing(100);
  z-index: 9999;
  transition: all 200ms ease;
  &:hover {
    transition: all 200ms ease;
    opacity: 1;
  }
  .fb-like {
  }
}*/

#header-bg {
  overflow: hidden;
  height: $headerHeight;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  #instafeed {
    a {
      float: left; 
      width: 16.6666667%;
      line-height: 0;
      border: 0px;
      margin: 0px;
      padding: 0px;
      line-height: 0px;
      @media (max-width: 1170px){
        display: block!important;
        width: 20%;
      }
      @media (max-width: 600px){
        display: block!important;
        width: 25%;
      }
      &:hover {
        border: 0px;
      }
      img {
        line-height: 0px;
        border: 0px;
        margin: 0px;
        padding: 0px;
      }
    }
  }
  #gradient {
    position: absolute;
    height: $headerHeight;
    width: 100%;
    background: linear-gradient(to bottom, rgba(0,0,0,0.4) 0%,rgba(0,0,0,0.4) 75%,rgba(0,0,0,1) 100%);
  }
  #colorfill {
    position: absolute;
    height: $headerHeight;
    width: 100%;
    background: rgba(0,0,0,0.4);
  }
}

header {
  width: 100%;
  height: $headerHeight;
  text-align: center;
  position: absolute;
  left: 0;
  top: 0;
  @include wrapper();
  @include middle();
  @media (max-width: 640px) {
    height: 480px;
    svg {
      left: 0!important;
    }
  }
}
svg {
  height: $headerHeight / 1.5;
  @media (max-width: 800px) {
      max-width: 240px;
  }
  margin: auto;
  fill: #fff;
  position: relative;
  left: fnGetSpacing(-19);
}

@media (max-width: 800px){
  #plane-wrapper {
    display: none;
  }
}

@media (min-width: 800px){
  path#plane {
    display: none!important;
  }
  #plane-wrapper {
    display: block;
    text-align: center;
    position: absolute;
    width: 100%;
    left: 0;
    top: 100px;
    svg#planesvg {
      width: 36px;
      height: 36px;
      left: -1.5px;
    }
  }
}

#mc_embed_signup {
  top: $headerHeight * 0.82;
  position: absolute;
  left: 0;
  width: 100%;
  z-index: 9999;
  @media (max-width: 768px) {
    top: 400px;
  }
  form {
    margin: auto;
    max-width: 250px;
    padding-left: 8px;
    @media (max-width: 768px) {
      max-width: 95%;
    }
    #input {
      &:before {
        transition: 400ms all ease;
        opacity: 0;
        content: "Your e-mail:";
        color: #999!important;
        position: relative;
        top: 33px;
        left: -96px;
        @media (max-width: 768px) {
          top: -10px;
          left: 0;
          content: "Your e-mail:";
          opacity: 1;
          width: 100%;
          float: left;
          font-style: italic;
          text-align: center;
        }
      }
      &:after {
        transition: 400ms all ease;
        opacity: 0;
        content: "+ Enter";
        color: #999!important;
        top: -33px;
        left: 243px;
        position: relative;
        @media (max-width: 768px) { 
          opacity: 1;
          top: 8px;
          left: 10px!important;
          content: "Join »";
          display: none;
        }
      }
      &:hover:after {
        transition: 400ms all ease;
        opacity: 1;
      }
      &:hover:before {
        transition: 400ms all ease;
        opacity: 1;
      }
    }

    input {
      background: transparent;
      border: 1px solid rgba(255, 255, 255, 0.25);
      text-align: center;
      &:focus + input[type="submit"] {
        //visibility: visible!important;
        //opacity: 1;
        //transition: 400ms all ease;
        //transform: translateY(40px);
      }
      &:hover {
        border: 1px solid rgba(255, 255, 255, 0.5);
      }
      &:focus {
        border: 1px solid rgba(255, 255, 255, 0.8);
      }
    }
    input[type="submit"] {
      visibility: hidden;
      opacity: 0px;
      transition: 400ms all ease;
      transform: translateY(0);
    }
  }
}

section {
  top: $headerHeight * 0.85;
  .fb-like-box {
    width: 500px!important;
  }
  h2 {
    font-size: 180%;
    margin: fnGetSpacing(50);
    font-weight: 300!important;
  }
  p {
    color: #fff;
    margin-top: fnGetSpacing(-50)!important;
    margin-left: fnGetSpacing(100)!important;
    margin-right: fnGetSpacing(100)!important;
  }
    color: #fff;
  table {
    color: #fff;
    margin-left: fnGetSpacing(75)!important;
    margin-right: fnGetSpacing(75)!important;
    margin-bottom: fnGetSpacing(75)!important;
    width: 90%;
    font-size: 120%;
    tr {
      border-bottom: 1px solid rgba(255, 255, 255, 0.1);
      transition: $ease;
      &:hover {
        transition: $ease; 
        border-bottom: 1px solid rgba(255, 255, 255, 0.2);
      }
    }
    td {
      border-bottom: #fff;
      &:last-child {
        text-align: center;
      }
    }
  }
  .cd-timeline-content {
    padding: 0!important;
    border: 1px solid rgba(255, 255, 255, 0.2);
    iframe, img {

    }
    &:before {
    }
  }
  .cd-date {
    //margin-left: fnGetSpacing(100);
  }
  .instag {
    img {
      width: 50%;
      float: left;
    }
  }
  .instag-three-row {
    img {
      width: 33.3333%;
    }
  }
  .cd-timeline-img  {
    background: rgba(0, 0, 0, 1)!important;
    box-shadow: 0 0 0 1px #666,inset 0 2px 0 rgba(0,0,0,0.08),0 3px 0 1px rgba(0,0,0,0.05);
  }
}

@media (max-width: 1170px){
  .cd-date {
    margin-left: fnGetSpacing(100);
    font-style: italic;
  }
  .cd-timeline {
    margin: 0!important;
    padding: 0!important;
  }
}

#cd-timeline::before {
  top: -31px!important;
}

.fb-like-box.fb_iframe_widget {
  display: block!important;
  @media (max-width: 640px){
    display: none!important;
  }
}

.fb-like-box.fb_iframe_widget + .fb-like-box.fb_iframe_widget {
  display: none!important;
  @media (max-width: 640px){
    display: block!important;
  }
}

.cd-timeline-content {
  .svg-content-wrapper {
  }
  a {
    font-weight: 300;
    border: none;
    border-bottom: 1px solid rgba(255,255,255,0.1);
    &:hover {
      border-bottom: 1px solid rgba(255,255,255,0.4);
    }
  }
}

#cd-timeline {
  background: rgba(0, 0, 0, 1);
  @media (max-width: 640px){
    margin: 0!important;
    padding: 0!important;
    .cd-timeline-block {
      margin-left: 15px!important;;
    }
    .cd-timeline-img {
      display: none!important;;
    }
    .cd-timeline-content::before {
      display: none!important;;
    }
    &:before {
      display: none!important;;
    }
    .cd-timeline-content {
      margin-left: 0!important;
    }
  }
}

.cd-container {
  margin-top: 49px!important;
  max-width: 100%!important;
  width: 100%!important;
  margin-top: 80px!important;
  padding: 0 2.5% 0 2.5%!important;
}


@media (max-width: 640px){
  .cd-container {
    width: 95%!important;
  }
}

.svg-content {
  text-align: center!important;
  width: 250px!important;
  margin: auto;
    svg#logo-timeline {
    width: 250px;
      #ping-pong path {
        fill: #000;
      }
    } 
}

main#wrong-browser {
  display: block;
  float: left;
  margin: 10vh auto 0 auto;
  padding: 20px;
  max-width: 700px;
  font-size: 110%;
  h4 {
    font-size: 220%;
  }
  a {
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    &:hover {
      border-bottom: 1px solid rgba(255, 255, 255, 0.8);
    }
  }
}

footer {
  float: left;
  width: 100%;
  text-align: center;
  clear: both;
  margin: fnGetSpacing(500) 0 fnGetSpacing(100) 0;
  font-size: 90%;
  div {
    background: #000;
    border: 1px solid rgba(255, 255, 255, 0.15);
    margin: auto;
    width: 300px;
    padding: fnGetSpacing(100) fnGetSpacing(40) fnGetSpacing(100) fnGetSpacing(40);
  }
  a {
    border-bottom: 1px solid rgba(255, 255, 255, 0.2)!important;
    &:hover {
      border-bottom: 1px solid rgba(255, 255, 255, 0.8)!important;
    }
  }
}


main {
  //display: none;
}

#wrong-browser, #chrome-user, #firefox-user {
  display: none!important;
}

main#main {
  display: block!important;
  float: left;
  width: 100%;
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  main#main {
    display: none!important;
  }
  #wrong-browser {
    display: block!important;
  }
}

.ie {
  main#main {
    display: none!important;
  }
  #wrong-browser {
    display: block!important;
  }
}

.cd-win {
  img {
    transform: scale(1.1);
    @media (max-width: 1170px){
      transform: scale(0.98);
    }
  }
}

.cd-timeline-img {
  img {
    @media (max-width: 1170px){
      transform: scale(0.8);
    }
  }
}

/*
#chrome-user {
  position: absolute;
  visibility: hidden;
}

#chrome-user + #wrong-browser {
  display: none!important;
}

#chrome-user + main#wrong-browser + main#main {
  display: block!important;
}
*/

// bg slider

.cbp-bislideshow {
  list-style: none;
  width: 100%;
  height: 600px;
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden;
  z-index: -1!important;
  padding: 0;
  margin: 0;
}

.cbp-bislideshow li {
  position: absolute;
  width: 100%;
  height: 100%;
  top: -0.5%;
  left: -0.5%;
  opacity: 0;
  -webkit-transition: opacity 1s;
  -moz-transition: opacity 1s;
  transition: opacity 1s;
}

/* If background-size supported we'll add the images to the background of the li */

.backgroundsize .cbp-bislideshow li {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  background-position: center center;
  position: absolute;
  top: 0;
}

/* ...and hide the images */
.backgroundsize .cbp-bislideshow li img {
  display: none;
}

.cbp-bislideshow li img {
  display: block;
  width: 100%;
  position: fixed;
}

.cbp-bicontrols {
  position: fixed;
  width: 300px;
  height: 100px;
  margin: -50px 0 0 -150px;
  top: 50%;
  left: 50%;
}

.cbp-bicontrols span {
  float: left;
  width: 100px;
  height: 100px;
  position: relative;
  cursor: pointer;
}

.cbp-bicontrols span:before {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  text-align: center;
  font-family: 'entypo';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 100px;
  font-size: 80px;
  color: #fff;
  -webkit-font-smoothing: antialiased;
  opacity: 0.7;
}

.cbp-bicontrols span:hover:before {
  opacity: 1;
}

.cbp-bicontrols span:active:before {
  top: 2px;
}

span.cbp-biplay:before {
  content: "\e002";
}

span.cbp-bipause:before {
  content: "\e003";
}

span.cbp-binext:before {
  content: "\e000";
}

span.cbp-biprev:before {
  content: "\e001";
}

.cbp-bicontrols span.cbp-binext {
  float: right;
}

/* Fallback */

.no-js.no-backgroundsize .cbp-bislideshow li:first-child {
  opacity: 1;
}

.no-js.backgroundsize .cbp-bislideshow li:first-child img {
  display: block;
}

 