// colors

$main-text: #fff; // main text
$link: #fff; // anchor tags
$background: #000; // body background color

$color-1: #fff; // blue dark
$color-2: #111; // red
$color-3: #fff; // white
$color-4: #111; // green
$color-5: #111; // yellow

// fonts 

$primary-font: '', serif;
$secondary-font: '', sans-serif;